@import "reset.css";

.footer{
	background-color: black;
	height: 20vh;
}

.footer p{
	text-align: center;
	color: white;
}

@media (max-width: 600px){
	.footer{
		position: relative;
		top: 100px;
		width: 500px;
	}

}

@media (max-width: 340px){
	.footer{
		top: 150px;	
	}
}