@import "reset.css";

.cabecalho{
	background-color: blueviolet;	
	height: 20vh;
}

.items{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 4rem;
	margin: 0 auto;
	padding: 1% 1% 0 0;
}

.items a{
	color: black;
}

.apresentacao{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.apresentacao img{
	display: flex;
	width: 150px;
	border-radius: 50%;
}